/* Navbar.css */
.navbar {
    background-color: #1a202c; /* Màu nền tối */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #2d3748;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.login-button,
.register-button,
.logout-button {
    background-color: #3182ce; /* Màu xanh */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover,
.register-button:hover,
.logout-button:hover {
    background-color: #2b6cb0; /* Đổi màu khi hover */
}
.pricing-button {
    background-color: #f6ad55; /* Màu cam */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pricing-button:hover {
    background-color: #dd6b20; /* Màu cam đậm khi hover */
}
